<!--
  The Side Bar
-->

<div id="sidebar" class="d-flex flex-column align-items-end">
  <div class="profile-wrapper text-center">
    <div id="avatar">
      <a href="{{ '/' | relative_url }}" class="mx-auto">
        {% if site.avatar != empty and site.avatar %}
          {% capture avatar_url %}
            {% if site.avatar contains '://' %}
              {{ site.avatar }}
            {% else %}
              {{ site.avatar | relative_url }}
            {% endif %}
          {% endcapture %}
          <img src="{{ avatar_url }}" alt="avatar" onerror="this.style.display='none'">
        {% endif %}
      </a>
    </div>

    <div class="site-title">
      <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
    </div>
    <div class="site-subtitle font-italic">{{ site.tagline }}</div>

  </div><!-- .profile-wrapper -->

  <ul class="w-100">

    <!-- home -->
    <li class="nav-item{% if page.layout == 'home' %}{{ " active" }}{% endif %}">
      <a href="{{ '/' | relative_url }}" class="nav-link">
        <i class="fa-fw fas fa-home ml-xl-3 mr-xl-3 unloaded"></i>
        <span>{{ site.data.locales[lang].tabs.home | upcase }}</span>
      </a>
    </li>
    <!-- the real tabs -->
    {% for tab in site.tabs %}
    <li class="nav-item{% if tab.url == page.url %}{{ " active" }}{% endif %}">
      <a href="{{ tab.url | relative_url }}" class="nav-link">
        <i class="fa-fw {{ tab.icon }} ml-xl-3 mr-xl-3 unloaded"></i>
        {% capture tab_name %}{{ tab.title | upcase }}{% endcapture %}
        <span>{{ site.data.locales[lang].tabs.[tab_name] | default: tab_name }}</span>
      </a>
    </li>
    {% endfor %}

  </ul> <!-- ul.nav.flex-column -->

  <div class="sidebar-bottom mt-auto d-flex flex-wrap justify-content-center align-items-center">

    {% for entry in site.social.links %}
      {% capture url %}{{ entry }}{% endcapture %}
      {% if url contains 'github' %}
        <a href="{{ url }}" aria-label="github" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-github"></i>
        </a>
        {% continue %}
      {% endif %}
      {% if url contains 'linkedin' %}
        <a href="{{ url }}" aria-label="linkedin" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-linkedin"></i>
        </a>
        {% continue %}
      {% endif %}
    {% endfor %}

  </div> <!-- .sidebar-bottom -->

</div><!-- #sidebar -->